* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  cursor: default;
  background-color: #f0f0f0;
  color: #1c1c1a;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* optional drop shadow */
}

h2 {
  font-size: 18px;
}

p {
  font-size: 14px;
  text-align: left;
  color: gray;
}

.logo-container img {
  height: 24px;
  margin: 10px 10px 10px 20px;
  width: auto;
  fill: white;
  cursor: pointer;
}

#section {
  width: 100%;
  padding: 6px;
}

@media screen and (min-width: 500px) {
  #section {
    padding: 18px;
  }
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  width: 100%;
  gap: 20px;
}

.main-view {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.selected-pianoroll {
  width: 100%;
  position: relative;
}

.pianorolls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 10px;
}

@media screen and (min-width: 800px) {
  .main-view {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .selected-pianoroll {
    width: 75%;
  }
  .pianorolls {
    width: 25%;
  }
}

.piano-roll-card {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.piano-roll-card[data-is-active="false"] {
  transition: all 150ms ease-in-out;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.piano-roll-card[data-is-active="false"]:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.piano-roll-svg {
  border-radius: 4px;

  aspect-ratio: 2/1;
}

.selection {
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: rgba(255, 255, 0, 0.5); /* Yellow with 50% transparency */
}
