* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  cursor: default;
  background-color: #f0f0f0;
  color: #1c1c1a;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* optional drop shadow */
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  padding: 30px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #f0f0f0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button {
  /* ... existing button styles ... */
  /* border-bottom: 3px solid #381815;  */
  position: relative; /* Required for the top movement on hover */
  transition: all 1.1s ease; /* Transition for all properties */
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 18px;
}

p {
  font-size: 14px;
  text-align: left;
  color: gray;
}

.logo-container img {
  height: 24px;
  margin: 10px 10px 10px 20px;
  width: auto;
  fill: white;
  cursor: pointer;
}

#pianoRollContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  width: 100%;
  gap: 20px;
}

.main-view {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.pianorolls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
}

#section {
  width: 100%;
  padding: 6px;
  /* padding: 50px; */
}

@media screen and (min-width: 500px) {
  #section {
    padding: 18px;
  }
}

.piano-roll-card {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.piano-roll-card[data-is-active="false"] {
  transition: all 150ms ease-in-out;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.piano-roll-card[data-is-active="false"]:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.piano-roll-svg {
  border-radius: 4px;

  aspect-ratio: 2/1;
}

#pianoroll-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selected-pianoroll {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 800px) {
  .main-view {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  .selected-pianoroll {
    width: 75%;
  }
  .pianorolls {
    width: 25%;
  }
}

.description {
  margin-top: 10px;
}

.cursor {
  position: absolute;
  z-index: 4;
  top: 11%;
  bottom: 0px;
  width: 2px;
  border-right: 1px solid gray;
  opacity: 1;
  pointer-events: none;
  height: 82%;
}

.selection {
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: rgba(255, 255, 0, 0.5); /* Yellow with 50% transparency */
}
